<h1>Sighting Saved!</h1>

<p>Your sighting was succesfully entered into the database.</p>

<!-- <p><a href="/sightings/<%= @sighting.id %>">View <%= @sighting %></a></p> -->

<p><a href="/species">Return to Species list.</a></p>
