<h1>New Species</h1>

<form action="/species" method="post">
  <label for="species_name">Species Name</label>
  <input id="species_name" name="name" type="text">
  <button>Create New Species!</button>
</form>
