<h1>Species Saved!</h1>

<p>Your species was succesfully entered into the database.</p>

<p><a href="/species/<%= @species.id %>">View <%= @species.name %></a></p>

<p><a href="/species">Return to Species listings.</a></p>
